<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <targets>
    <target type="Network" name="logstash" address="tcp://logstash:9600" newLine="True">
      <layout type="JsonLayout">
        <attribute name="timestamp" layout="${longdate}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="machinename" layout="${machinename}" />
        <attribute name="threadid" layout="${threadid}" />
        <attribute name="level" layout="${level}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception}" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logstash" />
  </rules>
</nlog>
